[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/castulo
[access "refs/for/refs/*"]
	read = group user/castulo
	push = group user/castulo
	label-Code-Review = -2..+2 group user/castulo
	label-Verified = -1..+1 group user/castulo
	rebase = group user/castulo
	removeReviewer = group user/castulo
	submit = group user/castulo
[access "refs/heads/*"]
	read = group user/castulo
	create = group user/castulo
	push = +force group user/castulo
	pushMerge = group user/castulo
[access "refs/tags/*"]
	push = group user/castulo
	push = +force group user/castulo
[project]
	description = Upgrade test toolset for OpenStack
